#container{
  display: flex;
  gap: 1rem;
}


#sidebar{
  position: absolute;
  height: 100%;
  height: calc(100vh * 0.95);
  border-right: solid 1px black;
  padding-right: 1rem;
}


#text_editor{
  flex-grow: 2;
  overflow-y: scroll;
}
#file_system.disable{
  opacity: 0;
  pointer-events: none;
}
#editor_controls{
  display: flex;
  padding-bottom: 1rem;
}
#file_control{
  padding-right: 0.25rem;
}
.icon{
  cursor: pointer;
}
.icon:hover{
  background-color: rgba(128, 128, 128, 0.25);
}
#editor_controls svg {
  max-width: 25px;
}

#editor_controls img {
  max-width: 25px;
}
#basic_text_formatting{
  display: flex;
}
#editor_controls > div{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
#basic_text_formatting .decoration{
  display: flex;
  border-left: solid 1px black;
  border-right: solid 1px black;
}
#basic_text_formatting .fonts{
  display: flex;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

#paragraph_formatting{
  display: flex;
}