#container{
  display: flex;
  gap: 1rem;
}


#sidebar{
  position: absolute;
  height: 100%;
  height: 100vh;
  border-right: solid 1px black;
  cursor: col-resize;
  padding-right: 1rem;
}


#text_editor{
  flex-grow: 2;
}
#file_system.disable{
  opacity: 0;
  pointer-events: none;
}
