#container{
  display: flex;
  gap: 1rem;
}


#sidebar{
  position: absolute;
  height: 100%;
  height: calc(100vh * 0.95);
  border-right: solid 1px black;
  padding-right: 1rem;
}


#text_editor{
  flex-grow: 2;
  overflow-y: scroll;
}
#file_system.disable{
  opacity: 0;
  pointer-events: none;
}
#editor_controls{
  display: flex;
  padding-bottom: 1rem;
}
.icon{
  cursor: pointer;
}