
/* .tox-editor-header.disable{
    opacity: 0 !important;
    pointer-events: none;
} */

div[role=menubar].disable{
    opacity: 0 !important;
    pointer-events: none;
    position: absolute;
}

div[role=toolbar].disable{
    opacity: 0 !important;
    pointer-events: none;
}


button[data-mce-name="focus"]{
    opacity: 1!important;
}

button.disable{
    opacity: 0 !important;
    pointer-events: none;
}
