#file_system ul, #file_system li{
    list-style: none !important;
    padding-right: 1rem;
}

ul[data-first="true"]{
    padding: 0;
}

li[data-first="true"]{
    display: block !important;
    border-left: none;
}

/* Basic styling for the file system */
ul.file-system {
    list-style-type: none;
    padding-left: 20px;
}

ul.file-system .folder {
    margin: 5px 0;
}

#file_system ul .dropdown {
    display: none;
    /* Initially hide subfolders/files */
    list-style-type: none;
    padding-left: 20px;
}

/* Show dropdown when folder is active */
#file_system ul .active {
    display: block;
}

#file_system li .active{
    display: block; 
    border-left: solid 1px black;
}

li strong{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}